In [1]:
import pandas as pd
import numpy as np

In [7]:
nutrition = pd.read_csv('../data/Nutrition.csv')

In [8]:
nutrition.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AK,Alaska,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,2011.0,Value,...,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,VALUE,2,Race/Ethnicity,2 or more races,RACE,RACE2PLUS
1,2011,2011,AK,Alaska,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,2011.0,Value,...,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,VALUE,2,Race/Ethnicity,Other,RACE,RACEOTH
2,2011,2011,AK,Alaska,BRFSS,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 150 min...,2011.0,Value,...,"(64.845079957001, -147.722059036)",PA,PA1,Q044,VALUE,2,Gender,Female,GEN,FEMALE
3,2011,2011,AK,Alaska,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,2011.0,Value,...,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,VALUE,2,Age (years),35 - 44,AGEYR,AGEYR3544
4,2011,2011,AK,Alaska,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,2011.0,Value,...,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,VALUE,2,Income,"$15,000 - $24,999",INC,INC1525

In [9]:
nutrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104272 entries, 0 to 104271
Data columns (total 33 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   YearStart                   104272 non-null  int64
 1   YearEnd                     104272 non-null  int64
 2   LocationAbbr                104272 non-null  object
 3   LocationDesc                104272 non-null  object
 4   Datasource                  104272 non-null  object
 5   Class                       104272 non-null  object
 6   Topic                       104272 non-null  object
 7   Question                    104272 non-null  object
 8   Data_Value_Unit             88872 non-null   float64
 9   Data_Value_Type             104272 non-null  object
 10  Data_Value                  93505 non-null   float64
 11  Data_Value_Alt              93505 non-null   float64
 12  Data_Value_Footnote_Symbol  10767 non-null   object
 13  Data_Value_Footnote         10767 non-null   object
 14  Low_Confidence_Limit        93505 non-null   float64
 15  High_Confidence_Limit       93505 non-null   float64
 16  Sample_Size                 93505 non-null   float64
 17  Total                       3724 non-null    object
 18  Age(years)                  22344 non-null   object
 19  Education                   14896 non-null   object
 20  Gender                      7448 non-null    object
 21  Income                      26068 non-null   object
 22  Race/Ethnicity              29792 non-null   object
 23  GeoLocation                 102340 non-null  object
 24  ClassID                     104272 non-null  object
 25  TopicID                     104272 non-null  object
 26  QuestionID                  104272 non-null  object
 27  DataValueTypeID             104272 non-null  object
 28  LocationID                  104272 non-null  int64
 29  StratificationCategory1     104272 non-null  object
 30  Stratification1             104272 non-null  object
 31  StratificationCategoryId1   104272 non-null  object
 32  StratificationID1           104272 non-null  object
dtypes: float64(6), int64(3), object(24)
memory usage: 26.3+ MB

## Information about data
Each row represents a combination of a year, state, survey question, and percent of individuals who are positively identified for that question, along with stratification. The categories for stratification are Age Range, Education, Gender, Income, Race/Ethnicity, and Total.

This dataset includes observations for the years 2011-2023. Percentages and data are not included for groups with insufficient sample sizes.

In [ ]:
nutrition_clean = nutrition.copy()

## Dealing with Missing Values

In [ ]:
cols_with_nulls = []
for col in nutrition_clean.columns:
    if nutrition_clean[col].isna().sum() > 0:
        cols_with_nulls.append(col)

print(f"Columns with 1 or more missing values:")
for i in cols_with_nulls:
    print(i)

Columns with 1 or more missing values:
Data_Value_Unit
Data_Value
Data_Value_Alt
Data_Value_Footnote_Symbol
Data_Value_Footnote
Low_Confidence_Limit
High_Confidence_Limit
Sample_Size
Total
Age(years)
Education
Gender
Income
Race/Ethnicity
GeoLocation

### Data_Value_Unit

In [28]:
nutrition_clean.loc[nutrition_clean['Data_Value_Unit'].isna()].head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
88872,2022,2022,AK,Alaska,BRFSS,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(64.84507995700051, -147.72205903599973)",PA,PA1,Q047,VALUE,2,Race/Ethnicity,Non-Hispanic White,RACE,RACEWHT
88873,2022,2022,AK,Alaska,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(64.84507995700051, -147.72205903599973)",OWS,OWS1,Q036,VALUE,2,Race/Ethnicity,Asian,RACE,RACEASN
88874,2022,2022,AK,Alaska,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(64.84507995700051, -147.72205903599973)",OWS,OWS1,Q036,VALUE,2,Education,High school graduate,EDU,EDUHSGRAD
88875,2022,2022,AK,Alaska,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(64.84507995700051, -147.72205903599973)",OWS,OWS1,Q036,VALUE,2,Income,"Less than $15,000",INC,INCLESS15
88876,2022,2022,AK,Alaska,BRFSS,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(64.84507995700051, -147.72205903599973)",PA,PA1,Q047,VALUE,2,Gender,Male,GEN,MALE

In [ ]:
nutrition_clean.loc[nutrition_clean['Data_Value_Unit'].isna()]['Question'].unique()

       YearStart  YearEnd LocationAbbr LocationDesc Datasource  \
88872       2022     2022           AK       Alaska      BRFSS
88873       2022     2022           AK       Alaska      BRFSS
88874       2022     2022           AK       Alaska      BRFSS
88875       2022     2022           AK       Alaska      BRFSS
88876       2022     2022           AK       Alaska      BRFSS

                         Class                         Topic  \
88872        Physical Activity  Physical Activity - Behavior
88873  Obesity / Weight Status       Obesity / Weight Status
88874  Obesity / Weight Status       Obesity / Weight Status
88875  Obesity / Weight Status       Obesity / Weight Status
88876        Physical Activity  Physical Activity - Behavior

                                                Question  Data_Value_Unit  \
88872  Percent of adults who engage in no leisure-tim...              NaN
88873  Percent of adults aged 18 years and older who ...              NaN
88874  Percent of adults aged 18 years and older who ...              NaN
88875  Percent of adults aged 18 years and older who ...              NaN
88876  Percent of adults who engage in no leisure-tim...              NaN

      Data_Value_Type  ...                               GeoLocation  ClassID  \
88872           Value  ...  (64.84507995700051, -147.72205903599973)       PA
88873           Value  ...  (64.84507995700051, -147.72205903599973)      OWS
88874           Value  ...  (64.84507995700051, -147.72205903599973)      OWS
88875           Value  ...  (64.84507995700051, -147.72205903599973)      OWS
88876           Value  ...  (64.84507995700051, -147.72205903599973)       PA

      TopicID QuestionID  DataValueTypeID  LocationID  \
88872     PA1       Q047            VALUE           2
88873    OWS1       Q036            VALUE           2
88874    OWS1       Q036            VALUE           2
88875    OWS1       Q036            VALUE           2
88876     PA1       Q047            VALUE           2

       StratificationCategory1       Stratification1  \
88872           Race/Ethnicity    Non-Hispanic White
88873           Race/Ethnicity                 Asian
88874                Education  High school graduate
88875                   Income     Less than $15,000
88876                   Gender                  Male

      StratificationCategoryId1 StratificationID1
88872                      RACE           RACEWHT
88873                      RACE           RACEASN
88874                       EDU         EDUHSGRAD
88875                       INC         INCLESS15
88876                       GEN              MALE

[5 rows x 33 columns]

array(['Percent of adults who engage in no leisure-time physical activity',
       'Percent of adults aged 18 years and older who have obesity',
       'Percent of adults aged 18 years and older who have an overweight classification',
       'Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic physical activity and engage in muscle-strengthening activities on 2 or more days a week',
       'Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)',
       'Percent of adults who achieve at least 300 minutes a week of moderate-intensity aerobic physical activity or 150 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)',
       'Percent of adults who engage in muscle-strengthening activities on 2 or more days a week'],
      dtype=object)

In [ ]:
nutrition_clean['Data_Value_Unit'].unique()

array([2011., 2012., 2013., 2014., 2015., 2016., 2017., 2018., 2019.,
       2020., 2021.,   nan])

The description of the dataset describes `Data_Value_Unit` as "Description of unit e.g. %, etc" but this does not seem accurate, as the non-null values are years.

In [35]:
nutrition_clean = nutrition_clean.drop(columns=['Data_Value_Unit'])

### Data_Value

In [58]:
print(f'Percent Null: {(nutrition_clean['Data_Value'].isna().sum()/len(nutrition_clean))*100}')

Percent Null: 10.325878471689427

It may be important to keep the null values to show the incompleteness of the data so I'm leaving them for right now.

### Data_Value_Alt
Description: "Numeric representation of data value"

In [77]:
# How many differences are there between Data_Value and Data_Value_Alt?
(nutrition_clean['Data_Value'] == nutrition_clean['Data_Value_Alt']).value_counts()

True     93505
False    10767
Name: count, dtype: int64

In [ ]:
# What do these differences look like
nutrition_clean.loc[(nutrition_clean['Data_Value_Alt'] != nutrition_clean['Data_Value']), ['Data_Value', 'Data_Value_Alt']]

        Data_Value  Data_Value_Alt
9              NaN             NaN
10             NaN             NaN
12             NaN             NaN
18             NaN             NaN
30             NaN             NaN
...            ...             ...
104233         NaN             NaN
104237         NaN             NaN
104238         NaN             NaN
104248         NaN             NaN
104263         NaN             NaN

[10767 rows x 2 columns]

In [78]:
# Are all of them pairs of NaNs?
nutrition_clean.loc[((nutrition_clean['Data_Value_Alt'] != nutrition_clean['Data_Value']) & 
                     (nutrition_clean['Data_Value_Alt'].notna() | nutrition_clean['Data_Value'].notna())), 
                    ['Data_Value', 'Data_Value_Alt']]

Empty DataFrame
Columns: [Data_Value, Data_Value_Alt]
Index: []

All of the columns where Data_Value and Data_Value_Alt are not equal are pairs of NaNs (Python doesn't see 2 NaNs as equal). It is reasonable to drop Data_Value_Alt here because it does not add any additional meaning to the data.

In [82]:
nutrition_clean = nutrition_clean.drop(columns=['Data_Value_Alt'])

### Data_Value_Footnote and Data_Value_Footnote_Symbol

In [ ]:
# What values are present in these columns?
print('Data_Value_Footnote:')
print(nutrition_clean['Data_Value_Footnote'].unique())
print('\nData_Value_Footnote_Symbol:')
print(nutrition_clean['Data_Value_Footnote_Symbol'].unique())

Data_Value_Footnote:
[nan 'Data not available because sample size is insufficient.']

Data_Value_Footnote_Symbol:
[nan '~']

In [91]:
# Are there any differences between these 2 columns?
(nutrition_clean['Data_Value_Footnote'] == nutrition_clean['Data_Value_Footnote_Symbol']).value_counts()

False    104272
Name: count, dtype: int64

There are no differences between these 2 columns and the column name is not very descriptive of what values are present in the columns. It would make more sense to have a column called "Sample_Size_Insufficient" with binary values.

In [95]:
nutrition_clean['Sample_Size_Insufficient'] = nutrition_clean["Data_Value_Footnote_Symbol"].map({np.nan:0, '~':1})

In [96]:
nutrition_clean = nutrition_clean.drop(columns=['Data_Value_Footnote', 'Data_Value_Footnote_Symbol'])