In [1]:
import pandas as pd
import numpy as np

In [7]:
nutrition = pd.read_csv('../data/Nutrition.csv')

In [8]:
nutrition.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AK,Alaska,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,2011.0,Value,...,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,VALUE,2,Race/Ethnicity,2 or more races,RACE,RACE2PLUS
1,2011,2011,AK,Alaska,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,2011.0,Value,...,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,VALUE,2,Race/Ethnicity,Other,RACE,RACEOTH
2,2011,2011,AK,Alaska,BRFSS,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 150 min...,2011.0,Value,...,"(64.845079957001, -147.722059036)",PA,PA1,Q044,VALUE,2,Gender,Female,GEN,FEMALE
3,2011,2011,AK,Alaska,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,2011.0,Value,...,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,VALUE,2,Age (years),35 - 44,AGEYR,AGEYR3544
4,2011,2011,AK,Alaska,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,2011.0,Value,...,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,VALUE,2,Income,"$15,000 - $24,999",INC,INC1525

In [9]:
nutrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104272 entries, 0 to 104271
Data columns (total 33 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   YearStart                   104272 non-null  int64
 1   YearEnd                     104272 non-null  int64
 2   LocationAbbr                104272 non-null  object
 3   LocationDesc                104272 non-null  object
 4   Datasource                  104272 non-null  object
 5   Class                       104272 non-null  object
 6   Topic                       104272 non-null  object
 7   Question                    104272 non-null  object
 8   Data_Value_Unit             88872 non-null   float64
 9   Data_Value_Type             104272 non-null  object
 10  Data_Value                  93505 non-null   float64
 11  Data_Value_Alt              93505 non-null   float64
 12  Data_Value_Footnote_Symbol  10767 non-null   object
 13  Data_Value_Footnote         10767 non-null   object
 14  Low_Confidence_Limit        93505 non-null   float64
 15  High_Confidence_Limit       93505 non-null   float64
 16  Sample_Size                 93505 non-null   float64
 17  Total                       3724 non-null    object
 18  Age(years)                  22344 non-null   object
 19  Education                   14896 non-null   object
 20  Gender                      7448 non-null    object
 21  Income                      26068 non-null   object
 22  Race/Ethnicity              29792 non-null   object
 23  GeoLocation                 102340 non-null  object
 24  ClassID                     104272 non-null  object
 25  TopicID                     104272 non-null  object
 26  QuestionID                  104272 non-null  object
 27  DataValueTypeID             104272 non-null  object
 28  LocationID                  104272 non-null  int64
 29  StratificationCategory1     104272 non-null  object
 30  Stratification1             104272 non-null  object
 31  StratificationCategoryId1   104272 non-null  object
 32  StratificationID1           104272 non-null  object
dtypes: float64(6), int64(3), object(24)
memory usage: 26.3+ MB